@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css';

.container{
  margin-top:1em;
}
.tab-top{
  margin-left: 0;
}
.tab-pane{
  min-height: 10em;
  /* border:1px #007bff solid; */
  border-radius: 0.25rem;
  margin-top: 1em;
  padding:1em;
}

h1{
  color: blue;
  font-size: 14px;
}

.article{
  margin-top: 4em;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  background-color: white;
  color: blue;
  border-bottom: 3px blue solid;
  border-radius: 0;
}

.nav-link{
  margin-right: 3em;
}

form{
  display: none;
}